{% extends "index.html" %}
{% block content %}
    <h1>Add Property</h1>
    <form method="POST" action="/add_property">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="propertyImage"></label>
            {{ form.propertyImage.label }} {{ form.propertyImage() }}
        </div>
        <div class="form-group">
            <label for="propertyStatus"></label>
            {{ form.propertyStatus.label }} {{ form.propertyStatus() }}
        </div>
        <div class="form-group">
            <label for="propertyType"></label>
            {{ form.propertyType.label }} {{ form.propertyType() }}
        </div>
        <div class="form-group">
            <label for="propertyPrice"></label>
            {{ form.propertyPrice.label }} {{ form.propertyPrice() }}
        </div>
        <div class="form-group">
            <label for="propertyName"></label>
            {{ form.propertyName.label }} {{ form.propertyName() }}
        </div>
        <div class="form-group">
            <label for="propertyLocation"></label>
            {{ form.propertyLocation.label }} {{ form.propertyLocation() }}
        </div>
        <div class="form-group">
            <label for="propertySize"></label>
            {{ form.propertySize.label }} {{ form.propertySize() }}
        </div>
        <div class="form-group">
            <label for="propertyBedrooms"></label>
            {{ form.propertyBedrooms.label }} {{ form.propertyBedrooms() }}
        </div>
        <div class="form-group">
            <label for="propertyBathrooms"></label>
            {{ form.propertyBathrooms.label }} {{ form.propertyBathrooms() }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
